#header {
  background-color: hsl(146, 100%, 80%);
  padding: 25px;
  text-align: center;
  
}

body {
    background-color: hsl(60, 100%, 90%);
    text-align: justify;
    font-family: verdana;
}

h1, h2, h3, h4, h5, h6 {
	color: black; 
	font-family: Carrois Gothic SC;"
}