#header {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 25px;
  text-align: center;
  border-bottom: solid;
  border-color: hsla(0, 0%, 0%, 0.5);
}

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: justify;
    font-family: verdana;
}

h1, h2, h3, h4, h5, h6 {
	color: black; 
	font-family: Carrois Gothic SC;
}
